// main content pada page admin
.main-content-admin {
    margin-top: 50px;
    width: 80%;
    transition: $times;
    margin-left: 20%;

    // ketika hamburger menu di klik
    &.active {
        width: 100%;
        margin-left: 0;
    }

    // menu
    @media screen and (max-width: 768px){
        width: 100%;
        margin-left: 0;
    }
}

/*
** bagian dashboard
*/

// untuk list data
.data-list {
    background: $navAdmin-bg;
    width: 100%;
    height: 10rem;

    .card-data {
        display: flex;
        justify-content: space-between;

        .card-data__logo {
            width: auto;
            i {
                font-size: 1.5rem;
                color: green;
            }
        }

        .card-data__ket {
            width: auto;

            span.title {
                color: green;
            }
            span.total {
                color: $textColor-secondary;
            }
        }

        
    }
}