// function untuk link di navigasi
@mixin navLink {
    color: $textColor-secondary;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: $textColor-primary;
        font-weight: bold;
    }
}

@mixin btnMain($padding:0.5rem 1.3rem) {
    background: $mainColor;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    padding: $padding;

    &:hover {
        background: darken($mainColor, $amount: 15%);
        color: darken(#fff, $amount: 15%);
    }
}

// display flex untuk ketengah
@mixin dFlexCenter($justify: center, $alignItem: center) {
    display: flex;
    justify-content: $justify;
    align-items: $alignItem;
}

// function untuk link di navigasi
@mixin efekCB {
    color: $textColor-secondary;

    &:hover {
        text-decoration: none;
        font-weight: bold;
    }
    
}
