// function untuk link di navigasi
@mixin navLink {
    color: $textColor-secondary;

    &:hover {
        text-decoration: none;
        color: $textColor-primary;
        font-weight: bold;
    }
}