// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// mixins
@import 'mixins';

// Navbar and sidenav
@import 'nav';

// Jumbotron
@import 'jumbotron';

// style pada page home / landing page
@import 'home';

// auth admin
@import 'auth';

// page admin style
@import 'admin';

// bootstrap perubahan
.card {
    box-shadow: $shadowCard;
}

.card-header,
.card-footer {
    background: #fff;
}

.dropdown-item {
    color: $textColor-secondary;
}

/*
** Datatables style
*/
div.dataTables_wrapper div.dataTables_paginate li.paginate_button {
    &.active {
        .page-link {
            background: $activePage;
            border-color: $activePage;
    
            &:hover {
                background: darken($activePage, 20%);
                border-color: darken($activePage, 20%);
            }
        }

    }

    margin-top: 3px;
    padding: 0;
    margin-left: 5px;
    border-radius: 5px;

    &:hover {
        background: unset;
        border: unset;
    }        
}

div#data-tables_length,
div#data-tables_filter{
    label {
        display: flex;

        select {
            padding:0 20px 0 10px;
            margin: 0 5px;
        }
    }
}
/*
** Ada style yang di buat menggunakan file sass secara terpisah
** ada juga yang langsung di file vue.js nya langsung
*/
